node_modules/
build/
*.log
.env*
venv/lib/python3.11/site-packages/uuid.py
venv/lib/python3.11/site-packages/click/__pycache__/__init__.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/_compat.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/core.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/decorators.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/exceptions.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/formatting.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/globals.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/parser.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/termui.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/types.cpython-311.pyc
venv/lib/python3.11/site-packages/click/__pycache__/utils.cpython-311.pyc
venv/lib/python3.11/site-packages/uuid-1.30.dist-info/INSTALLER
venv/lib/python3.11/site-packages/uuid-1.30.dist-info/METADATA
venv/lib/python3.11/site-packages/uuid-1.30.dist-info/RECORD
venv/lib/python3.11/site-packages/uuid-1.30.dist-info/REQUESTED
venv/lib/python3.11/site-packages/uuid-1.30.dist-info/top_level.txt
venv/lib/python3.11/site-packages/uuid-1.30.dist-info/WHEEL
venv/lib/python3.11/site-packages/webencodings/__init__.py
venv/lib/python3.11/site-packages/webencodings/labels.py
venv/lib/python3.11/site-packages/webencodings/mklabels.py
venv/lib/python3.11/site-packages/webencodings/tests.py
venv/lib/python3.11/site-packages/webencodings/x_user_defined.py
venv/lib/python3.11/site-packages/webencodings/__pycache__/__init__.cpython-311.pyc
venv/lib/python3.11/site-packages/webencodings/__pycache__/labels.cpython-311.pyc
venv/lib/python3.11/site-packages/webencodings/__pycache__/mklabels.cpython-311.pyc
venv/lib/python3.11/site-packages/webencodings/__pycache__/tests.cpython-311.pyc
venv/lib/python3.11/site-packages/webencodings/__pycache__/x_user_defined.cpython-311.pyc
venv/lib/python3.11/site-packages/webencodings-0.5.1.dist-info/DESCRIPTION.rst
venv/lib/python3.11/site-packages/webencodings-0.5.1.dist-info/INSTALLER
venv/lib/python3.11/site-packages/webencodings-0.5.1.dist-info/METADATA
venv/lib/python3.11/site-packages/webencodings-0.5.1.dist-info/metadata.json
venv/lib/python3.11/site-packages/webencodings-0.5.1.dist-info/RECORD
venv/lib/python3.11/site-packages/webencodings-0.5.1.dist-info/REQUESTED
venv/lib/python3.11/site-packages/webencodings-0.5.1.dist-info/top_level.txt
venv/lib/python3.11/site-packages/webencodings-0.5.1.dist-info/WHEEL
venv/lib/python3.11/site-packages/zipp/__init__.py
venv/lib/python3.11/site-packages/zipp/_functools.py
venv/lib/python3.11/site-packages/zipp/glob.py
venv/lib/python3.11/site-packages/zipp/__pycache__/__init__.cpython-311.pyc
venv/lib/python3.11/site-packages/zipp/__pycache__/_functools.cpython-311.pyc
venv/lib/python3.11/site-packages/zipp/__pycache__/glob.cpython-311.pyc
venv/lib/python3.11/site-packages/zipp/compat/__init__.py
venv/lib/python3.11/site-packages/zipp/compat/overlay.py
venv/lib/python3.11/site-packages/zipp/compat/py310.py
venv/lib/python3.11/site-packages/zipp/compat/__pycache__/__init__.cpython-311.pyc
venv/lib/python3.11/site-packages/zipp/compat/__pycache__/overlay.cpython-311.pyc
venv/lib/python3.11/site-packages/zipp/compat/__pycache__/py310.cpython-311.pyc
venv/lib/python3.11/site-packages/zipp-3.21.0.dist-info/INSTALLER
venv/lib/python3.11/site-packages/zipp-3.21.0.dist-info/LICENSE
venv/lib/python3.11/site-packages/zipp-3.21.0.dist-info/METADATA
venv/lib/python3.11/site-packages/zipp-3.21.0.dist-info/RECORD
venv/lib/python3.11/site-packages/zipp-3.21.0.dist-info/REQUESTED
venv/lib/python3.11/site-packages/zipp-3.21.0.dist-info/top_level.txt
venv/lib/python3.11/site-packages/zipp-3.21.0.dist-info/WHEEL
